* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 3em;
}

p {
	line-height: 1.4em;
}

main {
	display: flex;
	flex-wrap: wrap;
}

section {
	padding: 2em;
	border: 5px solid #eaeaea;
	margin: 10px;
}

article {
	max-width: 20em;
	min-width: 15em;
}